@import url('https://fonts.googleapis.com/css?family=Signika');

body {
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #666;
  margin: 0;
}

.container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.stores {
  flex: 1; 
}

.stores-content {
  overflow-y: auto;
  height: 100vh;
}

.stores-link {
  padding: 20px 20px 0;
  text-decoration: none;
}

.stores-link__link {
  display: block;
  color: #666;
  text-decoration: none;
}

.stores-link__heading {
  padding: 0 0 20px;
  margin: 0;
}

.stores-link__name {
  color: #00539F;
  font-weight: bold;
}

.stores-link__category {
  color: #E52922;
}

.stores-link:nth-child(even) {
  background-color: #F6F6F6;
}

.stores-link--active {
  background-color: #00539F !important;  
  color: #fff;
} 

.stores-link--active .stores-link__link,
.stores-link--active .stores-link__name,
.stores-link--active .stores-link__category,
.stores-link--active .facilities__heading,
.stores-link--active .opening-hours__title {
  color: #fff;
}

.stores-link--active .stores-link__svg {
  fill: #fff;
}

.stores-link__svg-container {
  text-align: center;
}

.stores-link__svg {
  fill: #666;
  width: 50px;
}

.map {
  flex: 2; 
}

.address__line {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.store-detail {
  flex: 1;
  display: none;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}

.store-detail--active {
  display: block;
     -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    
    font-size: 18px;
    line-height: 22px;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.facilities__heading,
.opening-hours__title {
  color: #E52922;
  margin: 0 0 5px;
}

.opening-hours__table {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.facilities__list {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.opening-hours__hour-line {
  margin: 0;
}